<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <div>
        <h3 th:if="${jobs}" th:text="${jobs.size() +' Results'}"></h3>
        <table th:each = "job : ${jobs}" class="job-listing">
            <tr th:each = "column : ${job}">
                <td th:text ="${column.key}"> </td>
                <td th:text ="${column.value}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>